<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naughty.userlogin02.dao.SafeDao">


    <select id="getAllFlow" resultType="com.naughty.userlogin02.bean.Safe">
        SELECT * FROM safe
        <if test="createtime!=null ">
            WHERE createtime like #{createtime}
        </if>
        LIMIT #{pageStart},#{pageSize}
    </select>

    <select id="getFlowCounts" resultType="java.lang.Integer">
        SELECT count(*) FROM safe
        <if test="createtime !=null ">
            WHERE createtime like #{createtime}
        </if>
    </select>

    <select id="getUpdateFlow" resultType="com.naughty.userlogin02.bean.Safe">
        SELECT * FROM safe WHERE id = #{id}
    </select>

    <update id="updateState">
        UPDATE safe SET error = #{error} WHERE id = #{id}
    </update>

    <delete id="deleteFlow">
        DELETE FROM safe WHERE id = #{id}
    </delete>

</mapper>