<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naughty.userlogin02.dao.UserDao">
    <select id="getUserByMassage" resultType="java.lang.Integer">
       	SELECT count(id) FROM user
       	WHERE username=#{username} AND password=#{password}
    </select>

    <select id="getAllUser" resultType="com.naughty.userlogin02.bean.User">
       	SELECT * FROM user
        <if test="username !=null ">
            WHERE username like #{username}
        </if>
        LIMIT #{pageStart},#{pageSize}
    </select>

    <select id="getUserCounts" resultType="java.lang.Integer">
       	SELECT count(*) FROM user
        <if test="username !=null ">
            WHERE username like #{username}
        </if>
    </select>

    <select id="gettocheckadmin" resultType="java.lang.Integer">
        SELECT count(*) FROM user
        <if test="username !=null ">
            WHERE isadmin= #{isadmin} AND username like #{username}
        </if>
    </select>

    <select id="getUpdateUser" resultType="com.naughty.userlogin02.bean.User">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <update id="updateState">
        UPDATE user SET state = #{state} WHERE id = #{id}
    </update>

    <update id="updateisvip">
        UPDATE user SET isvip = #{isvip} WHERE username = #{applymanname}
    </update>

    <update id="updateisadmin">
        UPDATE user SET isadmin = #{isadmin} WHERE username = #{applymanname}
    </update>

    <update id="updateisdelect">
        UPDATE user SET isdelect = #{isdelect} WHERE username = #{applymanname}
    </update>

    <insert id="addUser">
        INSERT INTO user
        (username,password,email,role,state)
        VALUE
        (#{username},#{password},#{email},#{role},#{state})
    </insert>

    <update id="editUser">
        UPDATE user SET username = #{username} , password = #{password} ,
        email = #{email} WHERE id = #{id}
    </update>

    <delete id="deleteUser">
        DELETE FROM user WHERE id = #{id}
    </delete>

</mapper>